{% extends "base.html" %}

{% block meta %}
<title>Daftar Satwa</title>
{% endblock meta %}

{% block content %}
<div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center p-5">
    <div class="d-flex flex-column justify-content-between align-items-center mb-4">
        <h1 class="text-center display-4 fw-bold mb-5">Daftar Satwa</h1>
        <a href="{% url 'satwa:add_satwa' %}" class="btn btn-secondary mb-3 w-80 bg-success align-items-center">Tambah Data Satwa</a>
    </div>
    <div class="table-responsive table-bordered" style="width: 100%;">
        <table class="table table-bordered table-striped table-hover text-center align-middle custom-table" style="font-size: 18px;">
            <thead class="table-light">
                <tr>
                    <th>Nama Individu</th>
                    <th>Spesies</th>
                    <th>Asal Hewan</th>
                    <th>Tanggal Lahir</th>
                    <th>Status Kesehatan</th>
                    <th>Habitat</th>
                    <th>Foto</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for satwa in daftar_satwa %}
                <tr>
                    <td>{{ satwa.nama }}</td>
                    <td>{{ satwa.spesies }}</td>
                    <td>{{ satwa.asal_hewan }}</td>
                    <td>{{ satwa.tanggal_lahir }}</td>
                    <td>{{ satwa.status_kesehatan }}</td>
                    <td>{{ satwa.habitat }}</td>
                    <td>
                        <img src="{{ satwa.foto }}" alt="Foto Satwa" style="width: 120px; height: auto; border-radius: 10px;">
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm mb-1">Edit</a><br>
                        <a href="#" class="btn btn-danger btn-sm">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        .custom-table {
            border-radius: 20px; /* Membuat sudut tabel jadi rounded */
            overflow: hidden; /* Biar border-radius kelihatan di seluruh tabel */
        }
        
        .custom-table thead th {
            background-color:rgb(174, 231, 159); 
        }
    </style>
</div>
{% endblock content %}
