{% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Wahana</title>
</head>
<body>
    <div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
        <div class="border shadow-sm p-4 rounded-3 bg-white" style="width: 500px;">
            <h1 class="text-center mb-4">Tambah Wahana</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label>Nama Wahana</label>
                    <input type="text" name="nama_wahana" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Kapasitas Maksimum</label>
                    <input type="text" name="kapasitas_maksimum" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Jadwal</label>
                    <input type="time" name="jadwal" class="form-control">
                </div>
                <div class="mb-3">
                    <label>Peraturan</label>
                    <input type="text" name="peraturan" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Tambah</button>
            </form>
        </div>
    </div>
    <script>
        let peraturanCount = 1;
    
        function tambahPeraturan() {
          peraturanCount++;
          const div = document.getElementById("peraturan-list");
          const input = document.createElement("input");
          input.type = "text";
          input.name = "peraturan[]";
          input.className = "peraturan-input";
          input.placeholder = "Peraturan " + peraturanCount;
          div.appendChild(input);
        }
      </script>
</body>
</html>
{% endblock content %}