{% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Atraksi</title>
</head>
<body>
    <h1>Data Atraksi</h1>
    {% if not atraksi_entries %}
    <p>Belum ada data atraksi.</p>
    {% else %}
    <table>
        <tr>
            <th>Nama Atraksi</th>
            <th>Lokasi</th>
            <th>Kapasitas</th>
            <th>Jadwal</th>
            <th>Hewan yang terlibat</th>
            <th>Pelatih</th>
            {% if user_role == 'staf_admin' %}
            <th>Aksi</th>
            {% endif %}
        </tr>

    {% for atraksi_entry in atraksi_entries %}
        <tr>
            <td>{{atraksi_entry.nama}}</td>
            <td>{{atraksi_entry.lokasi}}</td>
            <td>{{atraksi_entry.kapasitas}}</td>
            <td>{{atraksi_entry.jadwal}}</td>
            <td>{{atraksi_entry.hewan_yang_terlibat}}</td>
            <td>{{atraksi_entry.pelatih}}</td>
            {% if user_role == 'staf_admin' %}
            <td>
                <a href="{% url 'hiburan:edit_atraksi' %}">
                  <button>Edit</button>
                </a>
                <a href="{% url 'hiburan:delete_atraksi' %}">
                  <button>Hapus</button>
                </a>

            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% endif %}

<br />
{% if user_role == 'staf_admin' %}
<a href="{% url 'hiburan:create_atraksi' %}">
  <button>Tambah Atraksi</button>
</a>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="hapusModal" tabindex="-1" aria-labelledby="hapusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hapusModalLabel">Hapus Atraksi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
        </div>
        <div class="modal-body">
          Apakah Anda yakin ingin menghapus atraksi <strong id="nama-atraksi"></strong>?
        </div>
        <div class="modal-footer">
          <form id="formHapus" method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">YA</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">TIDAK</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
{% endblock content %}