{% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Reservasi</title>
</head>
<body>
  <div>
    <a href="{% url 'hiburan:data_reservasi' %}" class="game-title-link">
      
      <img style="width: 15px;" src="https://cdn-icons-png.flaticon.com/512/109/109618.png">
      Back
    </a>
  </div>
    <div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
        <div class="border shadow-sm p-4 rounded-3 bg-white" style="width: 500px;">
            <h1 class="text-center mb-4">Detail Reservasi</h1>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label>Nama Atraksi: Pertunjukan lumba-lumba</label>
                </div>    
                <div class="mb-3">
                    <label for="lokasi">Lokasi: Area Akuatik</label>
                </div>    
                
                <div class="mb-3">
                    <label for="jam">Jam: 22:00</label>
                </div>    
                
                <div class="mb-3">
                    <label for="tanggal">Tanggal: 24 April 2025</label>
                </div>    
                
                <div class="mb-3">
                    <label for="jumlah">Jumlah tiket yang ingin dibeli: 10</label>
                </div>    

                <div class="mb-3">
                    <label for="jumlah">Status: Terjadwal</label>
                </div>    

                <div class="buttons">
                    <a href="{% url 'hiburan:data_reservasi' %}">[SIMPAN]</a>
                    <a href="{% url 'hiburan:data_reservasi' %}" data-bs-toggle="modal" data-bs-target="#batalModal" data-id="{{ reservasi.id }}">[BATALKAN RESERVASI]</a>
                </div>     
            </form>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="batalModal" tabindex="-1" aria-labelledby="batalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="batalModalLabel">Batalkan Reservasi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
        </div>
        <div class="modal-body">
          Apakah Anda yakin ingin membatalkan reservasi?
        </div>
        <div class="modal-footer">
          <form id="formHapus" method="POST" action="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">YA</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">TIDAK</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
   
</body>
</html>
{% endblock content %}