{% extends "base.html" %}
{% block meta %}
<title>Pengaturan Profil</title>
{% endblock meta %}

{% block content %}
<div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
    <div class="border shadow-sm p-4 rounded-3 bg-white" style="width: 500px;">
        <h2 class="text-center mb-4">Pengaturan Profil {{data_profile.role}}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" value="{{data_profile.username}}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Id Staf</label>
                {% if data_profile.role == "Penjaga Hewan" %}
                <input type="text" name="id_staf" value="{{data_profile.id_staf_penjaga}}" class="form-control" readonly>
                {% elif data_profile.role == "Pelatih Hewan" %}
                <input type="text" name="id_staf" value="{{data_profile.id_staf_pelatih}}" class="form-control" readonly>
                {% elif data_profile.role == "Staf Admin" %}
                <input type="text" name="id_staf" value="{{data_profile.id_staf_admin}}" class="form-control" readonly>
                {% endif %}
            </div>
            <div class="mb-3">
                <label>Nama Depan</label>
                <input type="text" name="nama_depan" value="{{data_profile.nama_depan}}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Nama Tengah (Opsional)</label>
                <input type="text" name="nama_tengah" value="{{ data_pengunjung.nama_tengah|default_if_none:'' }}" class="form-control">
            </div>
            <div class="mb-3">
                <label>Nama Belakang</label>
                <input type="text" name="nama_belakang" value="{{data_profile.nama_belakang}}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" value="{{data_profile.email}}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Nomor Telepon</label>
                <input type="text" name="no_telepon" value="{{data_profile.no_telepon}}" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Peran</label><br>
                <input type="text" value="{{ data_profile.role }}" class="form-control" readonly>
            </div>
            <div class="d-flex flex-column gap-2">
                <button type="submit" class="btn btn-success w-100">Simpan</button>
                <a href="{% url 'authentication:change_password' %}" class="btn btn-secondary w-100">Ubah Password</a>
                <a href="{% url 'authentication:profile_pengguna' %}" class="btn btn-secondary w-100">Batal</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}