{% extends "base.html" %}
{% block meta %}
<title>Program Adopsi - Staff</title>
{% endblock meta %}

{% block content %}
<div style="background-color: #f2eab8; min-height: 100vh;" class="p-4">
    <h1 class="text-center mb-4">Program Adopsi Satwa</h1>
    
    <div class="row g-4">
        {% for animal in animals %}
        <div class="col-md-4">
            <div class="card shadow">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.name|default:"-" }}</h5>
                    <p class="card-text">
                        Jenis: {{ animal.type }}<br>
                        Kondisi: {{ animal.condition }}
                    </p>
                    {% if animal.status == 'Diadopsi' %}
                        <button class="btn btn-primary btn-sm">Lihat Detail</button>
                    {% else %}
                        <button class="btn btn-success btn-sm">Daftarkan Adopter</button>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}