{% extends "base.html" %}
{% block meta %}
<title>Sertifikat Adopsi</title>
{% endblock meta %}

{% block content %}
<div class="container my-5">
    <div class="border p-5 text-center">
        <h2 class="mb-4">Sertifikat Adopsi Satwa</h2>
        <p class="lead">Diberikan kepada:</p>
        <h3>[Nama Adopter]</h3>
        <p>telah mengadopsi [Nama Hewan]</p>
        <div class="mt-4">
            <button class="btn btn-outline-secondary">Kembali</button>
        </div>
    </div>
</div>
{% endblock content %}