{% extends "base.html" %}

{% block meta %}
<title>Edit Data Habitat</title>
{% endblock meta %}

{% block content %}
<div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
    <div class="border shadow-sm p-4 rounded-3 bg-white">
        <h1 class="text-center mb-4">Form Edit Data Habitat</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>Nama Habitat </label>
                <input type="text" name="nama_habitat" value={{habitat.nama}} class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Luas Area</label>
                <input type="text" name="luas" value={{habitat.luas_area}} class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Kapasitas Maksimal</label>
                <input type="text" name="capacity" value={{habitat.kapasitas}} class="form-control" required>
            </div>
            <div class="mb-4">
                <label>Status Lingkungan</label>
                <textarea name="status_lingkungan" class="form-control">{{habitat.status}}</textarea>
            </div>
            <button type="submit" class="btn btn-success w-100">Simpan Perubahan</button>
        </form>
    </div>
</div>
{% endblock content %}