{% extends "base.html" %}

{% block meta %}
<title>Pilih Role</title>
{% endblock meta %}

{% block content %}
<div style="background-color: #f2eab8; min-height: 100vh;" class="d-flex flex-column justify-content-center align-items-center">
    <div class="border shadow-sm p-4 rounded-3 d-flex flex-column justify-content-center align-items-center bg-white" style="width: 300px; height: auto;">
        <div style="width: 400px; height: auto;">
            <h1 class="text-center mb-4">Pilih Role</h1>
            <div class="d-flex flex-column gap-2 w-100 align-items-center">
                <a href="{% url 'authentication:register_pengunjung' %}" class="btn w-50 btn-secondary btn-lg">Pengunjung</a>
                <a href="{% url 'authentication:register_dokter_hewan' %}" class="btn w-50 btn-secondary btn-lg">Dokter Hewan</a>
                <a href="{% url 'authentication:register_staff' %}" class="btn w-50 btn-secondary btn-lg ">Staff</a>
                <a href="{% url 'authentication:landing' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}